@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: linear-gradient(to bottom, #e395a3, #ecad9c);
    font-family: "Poppins";
    display: flex;
    justify-content: center;
    align-items: center;
}

:root {
    --bg-color: #e395a3;
    --second-bg-color: #ecad9c;
    --text-color: #EEDCC3;
    --main-color: #E8C595;
}

.container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
    color: #ffff;
    padding: 20px;
    border-radius: 10px;
}

.link {
   color: var(--text-color);
}

form input {
    border-radius: 25px;
    background-color: #ffff;
    opacity: 0.5;
    padding: 13px 50px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    border: none;
}

form input::placeholder {
    color: #E6AD9C;
    text-align: left;
}

.link:visited {
    color: var(--text-color);
}

button {
    border-radius: 25px;
    background-color: #ffff;
    opacity: 0.5;
    padding: 13px 50px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: gray;
    color: #ffff;
}